*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1140px;
    margin: 0 auto;

}

a{
    display:inline-block;
    text-decoration: none;
}

ul li{
    list-style: none;

}
img{
    width: 100%;
   display: block;
}
.d-flex{
    display: flex;
}

.align-item{
    align-items: center;
}

.justify-conten{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.text-align{
    text-align: center;
}

:root{
    --orange-800:orange;
    --orange-700:rgb(247, 196, 102);
    --white:white;
    --gray:gray;
    --blue:blue;
    --t-blue:rgb(5, 5, 71);

}

:root{
   
    --heboo: "Heebo", sans-serif;
    --nunito: "Nunito", sans-serif;
    --pacifico: "Pacifico", cursive;

}
.row{
    display: flex;
    flex-wrap: wrap;
}
.col-1{
    width: 8.33%;
}

.col-2{
    width: 16.66%;
}

.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}

.col-5{
    width: 41.66%;
}

.col-6{
    width: 50%;
}

.col-7{
    width: 58.33;
}

.col-8{
    width: 66.66%;
}

.col-9{
    width: 75%;
}

.col-10{
    width: 83.33%;
}

.col-11{
    width: 91.66%;
}

.col-12{
    width: 100%;
}

.h-100{
    height: 100%;
}

.justify-conten-space{
    justify-content: space-between !important;
}